* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
html {
    font-size: 12pt;
    font-family: sans-serif;
    color: #11151C;
    background-color: #eee;
}
.container {
    background-color: #fff;
    max-width: 920px;
    margin: 1rem auto;
    padding: 1rem;
}
table {
    display: block;
    margin: 1rem 0;
    font-size: 0.9rem;
    overflow-x: auto;
    white-space: nowrap;
}
table table {
    border: solid 1px #ccc;
    padding: 4px;
}
tbody {
    background-color: #fafafa;
}
td, th {
    text-align: left;
    padding: 6px 12px;
    margin: 0;
}
td p, th p {
    margin: 0;
}
tr:nth-child(2n+1) {
    background-color: #eee;
}
.table--horizontal {
    border: 0;
    border-left: solid 1px #d66853;
}
.table--horizontal tr {
    background-color: #fff;
}
.table--horizontal td, .table--horizontal th {
    vertical-align: baseline;
}
.item {
    margin-bottom: 12px;
    padding: 0 12px;
    background-color: #fafafa;
    border: solid 1px #ccc;
}
h1 {
    margin-top: 0;
    font-size: 1.6rem;
}
h1, h2 {
    color: #d66853;
}
h4 {
    font-style: italic;
}
code {
    padding: 0 4px;
    border: solid 1px #aaa;
    background: #eee;
    font-size: 0.9rem;
    overflow-x: auto;
}
pre code {
    display: block;
    padding: 8px;
    background: #eee;
}
pre.md {
    max-width: 80rem;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
.link-domain {
    display: inline-block;
    margin-left: 0.5rem;
    font-size: 0.9rem;
    opacity: 0.7;
}